name: Environment Variables

on:
  push:

env:
  WF_LEVEL_ENV: Available to all jobs


jobs:
    env-vars-and-context:
        name: Environment Variables & Context
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        env:
            JOB_LEVEL_ENV: Available to all steps in env-vars-and-context job
        steps:
            - name: Log ENV VAR
              run: echo $GITHUB_REF
            - name: Log Context
              run: echo '${{ github.ref }}'
            - name: Set Env Var
              id: env_var
              run: |
                echo "NEW_ENV_VAR=$(date)" >> "$GITHUB_ENV"
                echo "JOB_LEVEL_ENV=$RANDOM" >> "$GITHUB_ENV"
                echo "POSITIVE_STATEMENT_ENV='Uyi you will be a fantastic programmer'" >> "$GITHUB_ENV"
                echo "CUSTOM_OUTPUT=ACompleteNoobSmoke" >> "$GITHUB_OUTPUT"

            - name: Log Custom ENV Vars
              env:
                STEP_LEVEL_ENV: Available to only this step
                WF_LEVEL_ENV: Overridden in step
              run: |
                echo '${{ env.STEP_LEVEL_ENV }}'
                echo $STEP_LEVEL_ENV
                echo $WF_LEVEL_ENV
                echo $JOB_LEVEL_ENV
                echo $NEW_ENV_VAR
                echo $POSITIVE_STATEMENT_ENV
                echo ${{ steps.env_var.outputs.CUSTOM_OUTPUT }}
            - name: Log Custom Output
              if: steps.env_var.outputs.CUSTOM_OUTPUT == 'ACompleteNoobSmoke'
              run: echo "Who is the Masta.......SHONUFF!"
