name: Expressions & Contexts

on: [push, pull_request, issues, workflow_dispatch]

run-name: 'Expressions & Contexts By ${{github.actor}} with the following event ${{github.event_name}}'

jobs:
    using-expressions-and-contexts:
        name: Using Expressions And Contexts
        runs-on: ubuntu-latest
        if: github.event_name == 'push'
        steps:
            - name: Expressions
              id: expressions
              run: |
                echo ${{ 1 }}
                echo ${{ 'This is a message' }}
                echo ${{ null }}
                echo ${{ true }}
                echo ${{ 1 > 2 }}
                echo ${{ 'vegeta' == 'Vegeta' }}
                echo ${{ true && false }}
                echo ${{ true || (false && true) }}
            - name: Dump Contexts
              run: echo '${{ toJson(github) }}'
            - name: Dump job
              run: echo '${{ toJson(job) }}' 
            - name: Dump Secrets
              run: echo '${{ toJson(secrets) }}'
            - name: Dump Steps
              run: echo '${{ toJson(steps) }}'
            - name: Dump Runner
              run: echo '${{ toJson(runner) }}'