name: First Action Workflow

on:
  push:

jobs:
    using-javascript-action:
        name: Using Javascript Action
        runs-on: ubuntu-latest
        steps:
            - name: Using JavaScript Action
              uses: actions/hello-world-javascript-action@main
              with:
                who-to-greet: "$GITHUB_ACTOR"