name: Pull Request Comment

on:
  pull_request_target:
    types: [opened]

jobs:
  pr-comment:
    name: PR Comment
    runs-on: ubuntu-latest
    permissions:
      issues: read
    steps:
        - name: Comment on New PRs
          uses: actions/github-script@v6
          with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            script: |
                github.rest.issues.createComment({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    issue_number: context.issue.number,
                    body: 'A Message From The BasedOne!'
                });