name: Calling Reusable Workflows

run-name: Calling Reusable Workflows

on:
    workflow_dispatch:
        inputs:
            name:
                description: "Input Description"
                type: string
                default: "BASED"
                required: false

jobs:
    calling-reusable-wf:
        name: Calling Reusable Workflow
        uses: "ACompleteNoobSmoke/GithubActions/.github/workflows/reusable-wf.yaml@main"
        with:
            name: ${{ inputs.name }}
        secrets:
            access-token: random_token

    calling-reusable-wf-2:
        name: Calling Reusable Workflow (Same Repository)
        uses: ./.github/workflows/reuse-wf.yaml
        secrets: inherit

    print-output:
        name: Print output
        needs: calling-reusable-wf-2
        runs-on: ubuntu-latest
        steps:
            - name: Print Output
              run: echo ${{ needs.calling-reusable-wf-2.outputs.date }}
