name: Calling Reusable Workflows

run-name: Calling Reusable Workflows

on:
    workflow_dispatch:
        inputs:
            name:
                description: "Input Description"
                type: string
                default: "BASED"
                required: false

jobs:
    calling-reusable-wf:
        name: Calling Reusable Workflow
        uses: "ACompleteNoobSmoke/GithubActions/.github/workflows/reusable-wf.yaml@main"
        with:
            name: ${{ inputs.name }}
        secrets:
            access-token: random_token

    calling-reusable-wf-2:
        name: Calling Reusable Workflow (Same Repository)
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Calling Reusable Workflow
              id: dateOutput
              uses: ACompleteNoobSmoke/GithubActionsPractice/.github/workflows/reusable-workflow.yaml@main
            - name: Print Output
              run: echo '${{steps.dateOutput.outputs.date}}'
