name: Variables and Secrets

run-name: Variables & Secrets By ${{ github.actor }}

on:
  push:

jobs:
    log-vars:
        name: Logging Vars
        environment: "staging"
        runs-on: ubuntu-latest
        env:
            BOOLEAN_SECRET: ${{ secrets.BOOLEAN_SECRET }}
            ENV_LEVEL_VAR:  ${{ vars.ENV_LEVEL_VAR }}
            REPO_LEVEL_VAR: ${{ vars.REPO_LEVEL_VAR }}
        steps:
            - name: Run only if BOOLEAN_SECRET is true
              if: env.BOOLEAN_SECRET == 'true'
              run: echo "I can"
            - name: Log Vars
              run: | 
                echo 'ENV_LEVEL_VAR: ${{env.ENV_LEVEL_VAR}}'
                echo 'REPO_LEVEL_VAR: ${{env.REPO_LEVEL_VAR}}'